/* ---- CSS Demo ---- */

body{
    background-color:lightgreen;
}

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*  --------------- Global Styles -----------------  */
  body{
    font-family: "Anta", sans-serif;
}
header.primary{
    background:red;
  }