html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/* #210535
#430d4b
#7b337d
#c874b2
#f5d5e0 
#000000
#051427
#530f1e
#a44322
#f8bc04
#0b1f3a
#76101e
#133769
#c9374c
#c2dde4
*/

html, body
{
    margin: 0px; padding: 0px;
}

body.form {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1.form{
  padding:2px;
  font-size:60px;
}

h1.form, p.form {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

.inline{
  display: inline; 
}

img{
  max-width:100%;
  }

  .img-right{
    float:right;
    margin: 10px 10px 10px 20px;
    padding:2px;
    border-radius:40px;
    height:400px;
    width:600px;
  }

header.primary{
  background-image:url("../img/Dragon-Logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  padding:5px;
}

header.first{
  background-image:url("../img/Dragon-Logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  padding:5px;
}

section.id{
  background-image:url("../img/colorful_earth-wallpaper-2000x1333.jpg");
  background-size:cover;
  background-position:center;
  padding-top:8px;
  padding-left:5px;
  padding-right:5px;
}

body{
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  text-align:center;
  text-decoration:underline;
  font-size:100px;
  color:#c9374c;
}

h2{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0.5px;
  color:#a44322;
  font-size:30px;
}

h2.one{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0.1px;
  color:#c2dde4;
  font-size:30px;
  
}

section.contain h2{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0.5px;
  color:#a44322;
  font-size:30px;
  text-decoration:underline dotted;
}

h3.first{
  text-align:center;
  padding:20px;
  color:#f5d5e0;
  font-size:20px;
}

h3{
  text-align:center;
  padding:20px;
  color:#a44322;
  font-size:larger;
}
section.contain h3{
  text-align:justify;
  font-size:larger;
  padding:2px;
}
aside.one {
  color: #f5d5e0;
  padding: 1.2em;
  font-weight:bold;
}

aside .widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside article.widget {
  width: 40%;
}

.widget table td{
  border-bottom:1px dashed #7b337d;
  padding:10px;
}

.widget.over header{
  padding-right:2.5em;
}

.widget.over table {
  font-size: 0.7em;
  border-collapse: collapse;
}

.widget.over table td {
  border-bottom: 1px dashed #7b337d;
  padding: 10px;
  font-size:12px;
}

.widget.over table td:nth-child(even) {
  text-align: right;
}

section.contain{
  background-image:url("../img/thumb_1686482399_626400.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  white-space:inherit;
  overflow:initial;
  padding-top:8px;
  padding-left:5px;
  padding-right:5px;
}

section.container2{
  background-image:url("../img/dark-blue-galaxy-in-space-iphone-77ulr6vs3pcq9y2z.jpg");
  background-size: contain;
  padding-top:8px;
  padding-left:5px;
  padding-right:5px;
}

p.first{
  color:#f5d5e0;
}

ul.first{
  color:#f5d5e0;
}

nav.first{
  max-width:900px;
  margin:30px auto;
}

nav.first ul{
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

nav.first ul li{
  list-style-type:none;
}

nav a{
  color:#f5d5e0;
  text-decoration:none;
  background-color:rgba(0,0,0,.7);
  padding:9px;
  border-radius: 20px 40px;
  border: 2px groove #c874b2;
  transition:.7s;
  font-size:20px;
}

nav a:hover{
  background-color:#000000;
}

header.first nav{
  max-width:900px;
  margin:30px auto;
}

header.first ul{
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.first ul li{
  list-style-type:none;
}

header.first nav a{
  color:#f5d5e0;
  text-decoration:none;
  background-color:rgba(0,0,0,.7);
  padding:9px;
  border-radius: 20px 40px;
  border: 2px groove #c874b2;
  transition:.7s;
  font-size:20px;
}

header.first nav a:hover{
  background-color:#000000;
}

header.primary nav{
  max-width:900px;
  margin:30px auto;
}

header.primary ul{
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.primary ul li{
  list-style-type:none;
}

header.primary nav a{
  color:#f5d5e0;
  text-decoration:none;
  background-color:rgba(0,0,0,.7);
  padding:9px;
  border-radius: 20px 40px;
  border: 2px groove #c874b2;
  transition:.7s;
  font-size:20px;
}

header.primary nav a:hover{
  background-color:#000000;
}

header.primary nav{
  max-width:900px;
  margin:30px auto;
}

header.primary ul{
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.primary ul li{
  list-style-type:none;
}

header.primary nav a{
  color:#f5d5e0;
  text-decoration:none;
  background-color:rgba(0,0,0,.7);
  padding:9px;
  border-radius: 20px 40px;
  border: 2px groove #c874b2;
  transition:.7s;
  font-size:20px;
}

header.primary nav a:hover{
  background-color:#000000;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

#blog h2{
  flex:0 0 100%;
  margin:0;
  text-align:center;
}

#blog .post{
  box-shadow:0 4px 8px rgba(0,0,0,.6);
  padding:10px;
  border-radius:4px;
  font-size:1rem;
  transition:.5s;
  flex:1;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  text-decoration:underline dashed;
  font-size:1.3rem;
  text-align:center;
  color:#c874b2;
}

#blog header{
  padding-top:10px;
  font-size:1rem;
  color:#c874b2;
}

#blog header h2{
  margin:0;
}

#blog .post:hover{
  box-shadow: 0 8px 16px #c2dde4;
}

section.container1{
  background-image:url("../img/retro-space-jj42yccuy61apvei.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:8px;
  padding-left:5px;
  padding-right:5px;
}

.container1 p{
  color:#f5d5e0;
}

caption.table one{
  font-size:20px;
}

caption.table{
  color:#c874b2;
  text-decoration:underline dotted;
  font-size:30px;
  padding-bottom:5px;
}

table.one{
  border: 1px solid #c874b2;
  width: 100%;
  margin:20px 0;
  border-collapse:collapse;
  background-image:url("../img/Screenshot\ 2024-04-28\ 124454.png");
  background-size:cover;
  background-repeat:no-repeat;
  transition:.7s;
  background-position-y: center;
}

table.one th{
  background-color: #210535;
  color:#f5d5e0;
  padding:7.5px;
}

table.one tr td{
  color:#f5d5e0;
  background-blend-mode: overlay;  
}

table.one tr:nth-child(even){
background-color: rgba(0, 0, 0, 0.1);
}

table.one tr:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

table.one td:nth-child(n+2){
  text-align:right;
}

table.one td{
  border:1px solid #c874b2;
  padding:5px;
  color:#fff;
}

.container2 li{
  color:#a44322;
  font-size:20px;
}

.container2 p{
  color:#f5d5e0;
  text-shadow: #f5d5e0 1px 0 10px;
}

#colophon{
  text-align:center;
  padding:10px;
  color:#c2dde4;
  font-size:1.1rem;
  background-image:url("../img/SpaceX-Logo.png");
  background-size:contain;
  background-position-x:right;
  background-repeat: no-repeat;
  
}

h6{
  font-size:15px;
  color:#c2dde4;
}

h6 a{
  color:#c2dde4;
  font-size:15px;
  text-decoration: none;
}

h6 a:hover{
  text-decoration:underline solid;
}

















@media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
    header.primary nav a{
      display:block;
    }
}